<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新增管理员</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.css" />
</head>
<body id="addadmin">

<div class="title">
	<a class="a" href="<{:U('Index/admin')}>">管理员列表</a>
	<a class="selected" href="<{:U('Index/addAdmin')}>">新增管理员</a>
</div>

<form action="<{:U('Index/addAdminPost')}>" method="post" class="form auto">
	<dl>
		<dd><label>账号：</label><input type="text" name="username" placeholder="输入账号"/></dd>
		<dd><label>密码：</label><input type="password" name="password" placeholder="密码"/></dd>
		<dd><label>角色：</label>
			<select name="roleid">
				<volist name="roles" id="vo" key="k">
				<option value ="<{$key}>"><{$vo}></option>
				</volist>
			</select>
		</dd>
		<input type="submit" value="新增管理员" class="submit" onclick=""/>
	</dl>

</form>


</body>
</html>