<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.4a2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/admin_top_nav.js"></script>
</head>
<body id="top">

<h1>LOGO</h1>

<ul>
	<li style="display:block;" onclick="admin_top_nav($(this).index())" class="nav select"><a href="<{:U('Index/sidebar')}>"  target="sidebar">首页</a></li>
	<if condition="$data['content'] eq 1">
		<li style="display:block;" onclick="admin_top_nav($(this).index())" class="nav"><a href="<{:U('Content/sidebar')}>" target="sidebar">内容</a></li>
	</if>
</ul>

<p>
	您好，<strong><{$name}></strong> [ <a href="__ROOT__/index.php" target="_blank" style="color:#FFFFFF;">去首页</a> ] [ <a href="<{:U('Index/logout')}>" target="_parent" class="a" style="color:red;font-weight:bold;">注销</a> ]
</p>

</body>
</html>